.cv {
    padding: 3rem 0 5rem 10rem;
    height: 45%;
    background-color: var(--heading-primary);
}

.container {
    display: flex;
    align-items: center;
}

.h2 {
    display: inline-block;
    background-color: var(--color-tertiary);
    padding: .5rem 2rem .5rem 1rem;
    border-radius: 7px;
    font-weight: 400;
}

.line {
    margin-left: 0;
    height: 2px;
    background-color: var(--color-secondary);
    flex-grow: 1;
}

.h3 {
    color: #FFFFFF;
    font-size: 1.3rem;
}

.bullet {
    fill: #FFFFFF;
    margin-right: 1rem;;
    float: left;
    transform: translateY(5px);
}

article {
    margin: 2rem 5rem 2rem 0;
}

.year {
    margin-left: 2rem;
    display: inline-block;
    background-color: var(--color-tertiary);
    padding: .3rem 1rem;
    border-radius: 5px;
    font-weight: 400;
}

.role-container {
    vertical-align: text-bottom;
    margin-left: 1rem;
}

.p {
    margin: .2rem 0 .2rem 2rem;
    color: #FFFFFF;
    font-size: 1.3rem;
    line-height: 1.6;
    font-weight: 300;
}