@import "../mixins";

.header {
    background-color: #F3F3F3;
    padding: 5rem 0 2rem 10rem;

    @include respond(iphone6) {
        padding: 3rem 0 0 0;
        text-align: center;
    }
    @include respond(iphone6p) {
        padding: 3rem 0 0 0;
        text-align: center;
    }
}

h1 {
    margin: 0;
    font-weight: 700;
    font-size: 5rem;
    text-transform: uppercase;
    color: var(--heading-primary);
    letter-spacing: 4px;
}

.header p {
    margin-top: -.5rem;
    font-size: 1.3rem;
    color: var(--paragraph-primary);
    text-transform: uppercase;

    @include respond(iphone6) {
        transform: translateX(-13%);
    }
    @include respond(iphone6p) {
        transform: translateX(-15%);
    }
}