.header {
    background-color: #F3F3F3;
    padding: 5rem 0 2rem 10rem;
}

h1 {
    margin: 0;
    font-weight: 700;
    font-size: 5rem;
    text-transform: uppercase;
    color: var(--heading-primary);
    letter-spacing: 4px;
}

p {
    margin-top: -.5rem;
    font-size: 1.3rem;
    color: var(--paragraph-primary);
    text-transform: uppercase;
}