@import "../mixins";

.icons {
    margin: 2rem 0 0 1rem;
    width: 18rem;
    justify-content: space-between;

    @include respond(iphone6) {
        width: 100%;
    }
    @include respond(iphone6p) {
        width: 100%;
    }
}

.react-icons {
    font-size: 2.5rem;

    @include respond(iphone6) {
        font-size: 5rem;
    }
    @include respond(iphone6p) {
        font-size: 5rem;
    }
}

.Linkedin {
    color: #0077B5;
}

.Gitlab {
    color: #E24329;
}

.Github {
    color: #181717;
}

.Codepen {
    color: #000000;
}

.Facebook {
    color: #3B5998;
}

.React {
    color:  #61DAFB;
}

.html {
    color: #E34F26;
}

.css {
    color: #1572B6;


}

.js {
    color: #F7DF1E;
}

.react {
    color:  #61DAFB;
}