.icons {
    margin: 2rem 0 0 2rem;
    width: 18rem;
    justify-content: space-between;
}

.react-icons {
    font-size: 2rem;
}

.in {
    color: #0077B5;
}

.gitlab {
    color: #E24329;
}

.github {
    color: #181717;
}

.codepen {
    color: #000000;
}

.face {
    color: #3B5998;
}