@import "../mixins";

.nav {
    background-color: var(--heading-primary);
    width: 70%;
    border: 1px solid var(--heading-primary);
    border-radius: 5px;
    overflow: hidden;

    @include respond(iphone5) {
        margin: 0 auto;
        // width: 320px;
    }
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style: none;

    @include respond(iphone5) {
        justify-content: center;
    }
}

.link{
    display: flex;
    align-items: center;
    color: inherit;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
}

.nav li {
    padding: 1.5rem;
    color: #FFFFFF;
    transition: all 230ms linear;

    @include respond(iphone5) {
        padding: 1.5rem .8rem;
    }
}

.nav li:hover {
    background-color:#F3F3F3;
    color: var(--heading-primary);
}






